<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="table-responsive">
    <table id="userList" class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <span th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" >
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Quiosco</th>
            </span>

            <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >

            | <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Quiosco</th>
              <th scope="col">Aceptacion</th>
                </span>

        </tr>
        </thead>
        <tbody>
        <span th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" >
        <tr th:each="solicitud:${vacacionList}">
            <td th:text="${solicitud.id}"></td>

            <td th:text="${solicitud.fecha}"></td>
            <td th:text="${solicitud.quioscoPersonal.nombreSolicitud}"></td>
            <td th:text="${solicitud.quioscoPersonal}"></td>
            <td th:text="${solicitud.estado}"></td>
            <td>
                <a href="#" ><i> ver solicitud</i></a>
            </td>

        </tr>
             </span>



        </tbody>
    </table>
    <div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error MEssage</div>


</div>
</body>
</html>