<div class="table-responsive">
    <table id="userList" class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <span th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" >
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Quiosco</th>
            </span>

            <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >

            | <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Quiosco</th>
              <th scope="col">Aceptacion</th>
                </span>

        </tr>
        </thead>
        <tbody>
        <span th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" >
        <tr th:each="solicitud:${vacacionList}">
            <td th:text="${solicitud.id}"></td>

            <td th:text="${solicitud.fecha}"></td>
            <td th:text="${solicitud.quioscoPersonal.nombreSolicitud}"></td>
            <td th:text="${solicitud.quioscoPersonal.numDias}"></td>
            <td th:text="${solicitud.estado}"></td>
            <td>
                <a href="#" ><i> ver solicitud</i></a>
            </td>

        </tr>
             </span>

        <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
        <tr th:each="solicitud:${vacacionAllSolicitudes}">
            <td th:text="${solicitud.id}"></td>

            <td th:text="${solicitud.fecha}"></td>
            <td th:text="${solicitud.quioscoPersonal.nombreSolicitud}"></td>
            <td th:text="${solicitud.estado}"></td>
            <td>
                <a href="#" ><i> ver solicitud</i></a>
            </td>

              <td>
                <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a href="#" ><i class="fas fa-check-circle"></i></a>
                </span>
                  <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
                    | <a href="#" ><i class="fas fa-window-close"></i></a>
                </span>

              </td>

        </tr>
             </span>

        </tbody>
    </table>



</div>