<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal ver vacaciones</title>
</head>
<body>
<div class="modal fade" id="verVacacionModal" tabindex="-1" role="dialog" aria-labelledby="verVacacionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordLongModal">Change user password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <table id="userList" class="table table-bordered table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Final</th>
                    <th scope="col">Dias</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="solicitud:${vacacionList}">
                    <td th:text="${solicitud.id}"></td>

                    <td th:text="${solicitud.fecha}"></td>
                    <td th:text="${solicitud.quioscoPersonal.nombreSolicitud}"></td>
                    <td th:text="${solicitud.estado}"></td>


                </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
</body>
</html>