<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vacation">

    <form class="form" role="form" autocomplete="off"  th:object="${vacacionForm}"  method="post">
        <!--Es necesario para poder pasar la validacion del Model-->


        <!--quita el comentario si quieres mantener la validacion @NotBlank del campo confirmPassword
             <input class="form-control" type=hidden name="confirmPassword" value="xxxx" th:if="${editMode}">
         -->


        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"> Numero de dias</label>
            <div class="col-lg-9">
                <input class="form-control" type="number" th:field="${vacacionForm.numDias}" th:disabled="${disableFields}" min="1" max="15">
                <div class="alert-danger" th:if="${#fields.hasErrors('numDias')}" th:errors="*{numDias}">Name Error</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Fecha de Inicio</label>
            <div class="col-lg-9">
                <input class="form-control" type="date" th:field="${vacacionForm.fechaInicio}" th:disabled="${disableFields}">
                <div class="alert-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}">Name Error</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Fecha final</label>
            <div class="col-lg-9">
                <input class="form-control" type="date" th:field="${vacacionForm.fechaFinal}" th:disabled="${disableFields}">
                <div class="alert-danger" th:if="${#fields.hasErrors('fechaFinal')}" th:errors="*{fechaFinal}">Name Error</div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-12 text-center">

                <input type="submit" class="btn btn-primary">

            </div>
        </div>


    </form>
    </form>
</div>
</body>
</html>