body{
    background: url(../img/background.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
    opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
    font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
    background-color: #e6c005;
}

.nav-tabs{
    border-bottom:0px;
}

.containerForm{
    border-top: outset;

    margin: 5%;
    padding: 3%;
}

.table-correo{
    padding-bottom: 5px;
}
.nav{
    display: -webkit-inline-flex;

}